.idea/
*.sln.iml
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/shelf/
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/kotlinc.xml

.idea/.idea.Rider/
.idea/**/.idea.Rider/
.idea/modules.xml
.idea/.name
.idea/.idea.CSharp/
.idea/.idea.CPlusPlus/

bin/
obj/
*.exe
*.dll
*.pdb
*.log

.idea/**/system/
.idea/**/shelf/
.idea/**/workspace.xml
.idea/httpRequests/

*.dbmdl
*.mdf
*.ldf
*.ndf

*.suo
*.user
*.userosscache
*.sln.docstates

node_modules/
packages/
*.nupkg
*.npm
*.yarn

*.log
*.cache
*.ide

.idea/codeStyles/
.idea/inspectionProfiles/
.idea/caches/

.vscode/

*.env
secrets.json

coverage/
*.coverage
*.coveragexml

.idea/modules.xml
.idea/misc.xml
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/shelf/
.idea/vcs.xml
.idea/httpRequests/
.idea/scopes/

ReSharper/
resharper.xml
resharper/
